<div class="page-header">
  <h1><%= stop.stop_name %><span class="subtitle">ID: <%= stop.stop_id%></span></h1>
  <hr/>
</div>

<div class="row">
  <div class="col-md-3">
    <div><b><%= stop.station_type %></b></div>
    <div>
      <b>GPS: </b><a href="https://maps.google.com.au/maps?q=<%= stop.stop_location['gps']['latitude'] %>,<%= stop.stop_location['gps']['longitude'] %>"><%= stop.stop_location['gps']['latitude'] %>,&nbsp;<%= stop.stop_location['gps']['longitude'] %></a>
    </div>
    <%= erb :_pretty_hash, locals: {hash: {stop_amenities: stop.stop_amenities, stop_accessibility: stop.stop_accessibility}}%>
    <hr />
  </div>
  <div class="col-md-9">
    <h2>Departures</h2>
    <table class="table table-responsive table-sm wrap-text">
      <thead>
        <tr>
          <th scope="col">Run</th>
          <th scope="col">Pl.</th>
          <th scope="col">Est. Departure</th>
          <th scope="col">Route</th>
        </tr>
      </thead>
      <tbody>
        <% departures.each do |departure| %>
        <tr>
          <th scope="row"><a href="/run/<%= departure.run_id %>"><%= departure.descriptor %></a></th>
          <td><%= departure.platform_number %></td>
          <td><%= departure.until_departure_english %></td>
          <td><%= departure.route.route_name %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>